<h3>Data Cleaning and Initial EDA</h3>

In [1]:
#import necessary libraries
import pandas as pd
import numpy as np

In [69]:
#read in the data set
global_terrorism_df = pd.read_csv("/Users/skylerwilson/Desktop/Lighthouse_Labs/Projects/midterm_project/data/global_terrorism.csv", encoding='latin-1')

/var/folders/59/vc05kjdn7s14r9w654dq4xlh0000gn/T/ipykernel_66794/2019914963.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  global_terrorism_df = pd.read_csv("/Users/skylerwilson/Desktop/Lighthouse_Labs/Projects/midterm_project/data/global_terrorism.csv", encoding='latin-1')

In [70]:
global_terrorism_df.head()
cols = list(global_terrorism_df.columns)
print(cols)

['Unnamed: 0', 'eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended', 'resolution', 'country', 'country_txt', 'region', 'region_txt', 'provstate', 'city', 'latitude', 'longitude', 'specificity', 'vicinity', 'crit1', 'crit2', 'crit3', 'doubtterr', 'multiple', 'success', 'suicide', 'attacktype1', 'attacktype1_txt', 'targtype1', 'targtype1_txt', 'targsubtype1', 'targsubtype1_txt', 'corp1', 'target1', 'natlty1', 'natlty1_txt', 'gname', 'motive', 'guncertain1', 'guncertain2', 'guncertain3', 'individual', 'nperps', 'nperpcap', 'weaptype1', 'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt', 'weapdetail', 'nkill', 'nkillter', 'nwound', 'nwoundus', 'nwoundte', 'property', 'ransom', 'ransomamt', 'ransompaid']

In [71]:
#collumns I want to keep
columns_to_keep = ['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended', 'resolution', 'country', 'country_txt', 'region', 'region_txt', 'provstate', 'city', 'latitude', 'longitude', 'specificity', 'vicinity', 'crit1', 'crit2', 'crit3', 'doubtterr','multiple', 'success', 'suicide', 'attacktype1', 'attacktype1_txt', 'targtype1', 'targtype1_txt', 'targsubtype1', 'targsubtype1_txt', 'corp1', 'target1', 'natlty1', 'natlty1_txt', 'gname', 'motive', 'guncertain1', 'guncertain2', 'guncertain3', 'individual', 'nperps', 'nperpcap', 'weaptype1', 'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt', 'weapdetail', 'nkill', 'nkillter', 'nwound', 'nwoundus', 'nwoundte', 'property', 'ransom','ransomamt', 'ransompaid']

#drop other columns not in kept columns
global_terrorism_df = global_terrorism_df.drop(columns=[col for col in global_terrorism_df.columns if col not in columns_to_keep])


#save as a csv file so that i can store it in the github repositpory
global_terrorism_df.to_csv("global_terrorism.csv")

In [72]:
global_terrorism_df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,weapdetail,nkill,nkillter,nwound,nwoundus,nwoundte,property,ransom,ransomamt,ransompaid
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,1.0,NaN,0.0,NaN,NaN,0,0.0,NaN,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,0.0,NaN,0.0,NaN,NaN,0,1.0,800000.0,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,1.0,NaN,0.0,NaN,NaN,0,0.0,NaN,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,Explosive,NaN,NaN,NaN,NaN,NaN,1,0.0,NaN,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,Incendiary,NaN,NaN,NaN,NaN,NaN,1,0.0,NaN,NaN

In [73]:
global_terrorism_df.dtypes

eventid               int64
iyear                 int64
imonth                int64
iday                  int64
approxdate           object
extended              int64
resolution           object
country               int64
country_txt          object
region                int64
region_txt           object
provstate            object
city                 object
latitude            float64
longitude           float64
specificity         float64
vicinity              int64
crit1                 int64
crit2                 int64
crit3                 int64
doubtterr           float64
multiple            float64
success               int64
suicide               int64
attacktype1           int64
attacktype1_txt      object
targtype1             int64
targtype1_txt        object
targsubtype1        float64
targsubtype1_txt     object
corp1                object
target1              object
natlty1             float64
natlty1_txt          object
gname                object
motive               object
guncertain1         float64
guncertain2         float64
guncertain3         float64
individual            int64
nperps              float64
nperpcap            float64
weaptype1             int64
weaptype1_txt        object
weapsubtype1        float64
weapsubtype1_txt     object
weapdetail           object
nkill               float64
nkillter            float64
nwound              float64
nwoundus            float64
nwoundte            float64
property              int64
ransom              float64
ransomamt           float64
ransompaid          float64
dtype: object

<h5>initial data cleaning plan:</h5>

1. convert approxdate into date type and use iyear, imonth, iday to create it --> call it date

2. drop iyear, imonth, iday because they can be extracted from data

3. convert resolution to binary variable 0 if not resolved 1 if resolved

4. use ransom binary variable to clean ransomamt if ransom = 0 ransomamt = 0

5. convert ransompaid to binary variable

In [74]:
# Create the date column
global_terrorism_df['approxdate'] = pd.to_datetime(
    global_terrorism_df[['iyear', 'imonth', 'iday']].astype(str).apply('-'.join, axis=1),
    errors='coerce'
)

In [75]:
#some month and day counts = 0 making the date column
global_terrorism_df['approxdate'].isna().value_counts()

approxdate
False    180800
True        891
Name: count, dtype: int64

In [76]:
global_terrorism_df.loc[global_terrorism_df['approxdate'].isna()]

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,weapdetail,nkill,nkillter,nwound,nwoundus,nwoundte,property,ransom,ransomamt,ransompaid
1,197000000002,1970,0,0,NaT,0,NaN,130,Mexico,1,...,NaN,0.0,NaN,0.0,NaN,NaN,0,1.0,800000.0,NaN
2,197001000001,1970,1,0,NaT,0,NaN,160,Philippines,5,...,NaN,1.0,NaN,0.0,NaN,NaN,0,0.0,NaN,NaN
3,197001000002,1970,1,0,NaT,0,NaN,78,Greece,8,...,Explosive,NaN,NaN,NaN,NaN,NaN,1,0.0,NaN,NaN
4,197001000003,1970,1,0,NaT,0,NaN,101,Japan,4,...,Incendiary,NaN,NaN,NaN,NaN,NaN,1,0.0,NaN,NaN
96,197003000001,1970,3,0,NaT,0,NaN,160,Philippines,5,...,Explosive,0.0,NaN,0.0,NaN,NaN,1,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104603,201112170006,2011,12,0,NaT,0,NaN,155,West Bank and Gaza Strip,10,...,Thrown rocks were used in the attack.,0.0,0.0,0.0,0.0,0.0,1,NaN,NaN,NaN
104611,201112170021,2011,12,0,NaT,0,NaN,153,Pakistan,6,...,Homemade bomb,0.0,0.0,0.0,0.0,0.0,1,NaN,NaN,NaN
104612,201112170022,2011,12,0,NaT,0,NaN,153,Pakistan,6,...,Homemade bomb,0.0,0.0,0.0,0.0,0.0,1,NaN,NaN,NaN
104613,201112170024,2011,12,0,NaT,0,NaN,153,Pakistan,6,...,Homemade bomb,0.0,0.0,0.0,0.0,0.0,1,NaN,NaN,NaN
104684,201112220039,2011,12,0,NaT,0,NaN,153,Pakistan,6,...,Explosive disguised as a toy,1.0,0.0,3.0,0.0,0.0,0,NaN,NaN,NaN

In [77]:
#convert all the iday values == 0 to 1 to create appoximate dates
global_terrorism_df.loc[global_terrorism_df['iday'] == 0, 'iday'] = 1

#re-run the approxdate imputation
global_terrorism_df['approxdate'] = pd.to_datetime(
    global_terrorism_df[['iyear', 'imonth', 'iday']].astype(str).apply('-'.join, axis=1),
    errors='coerce'
)

#check the NaN count
global_terrorism_df['approxdate'].isna().value_counts()

approxdate
False    181671
True         20
Name: count, dtype: int64

In [78]:
#drop the remaining 20 columns
global_terrorism_df.drop(global_terrorism_df.loc[global_terrorism_df['imonth'] == 0].index, inplace=True)

#drop iday, imonth, and iyear columns because the data can be extracted from approxdate as needed
global_terrorism_df.drop(columns=(['iyear', 'imonth', 'iday']), inplace=True)

In [79]:
global_terrorism_df.head()

,eventid,approxdate,extended,resolution,country,country_txt,region,region_txt,provstate,city,...,weapdetail,nkill,nkillter,nwound,nwoundus,nwoundte,property,ransom,ransomamt,ransompaid
0,197000000001,1970-07-02,0,NaN,58,Dominican Republic,2,Central America & Caribbean,NaN,Santo Domingo,...,NaN,1.0,NaN,0.0,NaN,NaN,0,0.0,NaN,NaN
2,197001000001,1970-01-01,0,NaN,160,Philippines,5,Southeast Asia,Tarlac,Unknown,...,NaN,1.0,NaN,0.0,NaN,NaN,0,0.0,NaN,NaN
3,197001000002,1970-01-01,0,NaN,78,Greece,8,Western Europe,Attica,Athens,...,Explosive,NaN,NaN,NaN,NaN,NaN,1,0.0,NaN,NaN
4,197001000003,1970-01-01,0,NaN,101,Japan,4,East Asia,Fukouka,Fukouka,...,Incendiary,NaN,NaN,NaN,NaN,NaN,1,0.0,NaN,NaN
5,197001010002,1970-01-01,0,NaN,217,United States,1,North America,Illinois,Cairo,...,Several gunshots were fired.,0.0,0.0,0.0,0.0,0.0,1,0.0,NaN,NaN